#position-text {
	position:relative;
	left: 20%;

    
}


#position-checkbox {
	position:relative;
    padding-left: 50px;
   
}


.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

/*Caxinha do checkbox */
.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid rgb(0, 0, 0);
    border-radius: .25em;
    width: 1.0em;
    height: 1.0em;
    float: left;
    margin-right: .3em;
    top: 2px;
}

.radio .cr {
    border-radius: 50%;
}

    /*Vezinho do checkbox*/
    .checkbox .cr .cr-icon,
    .radio .cr .cr-icon {
        position: absolute;
        font-size: .8em;
        line-height: 0;
        top: 50%;
        left: 20%;
    }

    .radio .cr .cr-icon {
        margin-left: 0.04em;
    }

/*Parte de dentro da caixinha do checkbox*/
.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

    .checkbox label input[type="checkbox"] + .cr > .cr-icon,
    .radio label input[type="radio"] + .cr > .cr-icon {
        transform: scale(3) rotateZ(-20deg);
        opacity: 0;
        transition: all .3s ease-in;
    }

    .checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
    .radio label input[type="radio"]:checked + .cr > .cr-icon {
        transform: scale(1) rotateZ(0deg);
        opacity: 1;
    }

    .checkbox label input[type="checkbox"]:disabled + .cr,
    .radio label input[type="radio"]:disabled + .cr {
        opacity: .5;
    }

.nome-categoria {
    color: rgb(209, 49, 55);
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}

.frm-contato input[type="submit"] {
    background-color: #913034;
    color: #FFF;
    cursor: pointer;
    position:relative;
    top: 15px;

}

.frm-contato input[type="submit"]:hover {
        background-color: #000000;
    }
