
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<link href="~/Content/Contato/contato.css" rel="stylesheet" />

<div class="container">

    <div class="row banner col-md-12">
        <div class="row banner-texto-esquerda col-md-6 pull-left">
            <h1>QUEM SOMOS</h1>
        </div>
        <div class="row banner-texto-direita col-md-6 pull-right">

        </div>
    </div>
    <div class="row banner-baixo col-md-12 center-block">
        <div class="row texto-bannerbaixo col-md-12">
            Você é um profissional e <b>busca novos clientes?</b>
            <a href="~/Prestador/Cadastrar"><input type="button" class="btn" value="Cadastre-se" /></a>
        </div>
    </div>

    <div class="row texto-contato col-md-12">
        <h2><b>Quem Somos</b></h2>
        <br />
        <p />
        A Agiliza Orçamentos é uma empresa que nasceu para agilizar a vida das pessoas na hora de buscar orçamentos de forma on line, gratuita e sem compromisso.
        <p />
        <br />
        Além disso, o site oferece aos prestadores de serviços de diversas áreas a oportunidade de expandir seus negócios através de um sistema simples e objetivo.
        <p />
        <br />
        Através do site da Agiliza Orçamentos é possível encontrar profissionais e empresas em todo o Brasil e comparar orçamentos para um determinado serviço. Com isso o usuário economiza tempo, dinheiro e ainda encontra profissionais capacitados para a realização do serviço desejado.

        
    </div>

</div>