@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<link href="~/Content/Conta/meuperfil.css" rel="stylesheet" />




<div class="msg">
    <p>
        Obrigado por confirmar seu e-mail. Por favor @Html.ActionLink("Clique aqui para continuar", "Index", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>