@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<p class="text-info">
    Verifique seu e-mail e confirme seu endereço.
</p>
<p class="text-danger">
    DEMO: Caso o e-mail não chegue clique neste link: <a href="@ViewBag.Link">link</a>
</p>
