
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<link href="~/Content/Orcamento/orcamento.css" rel="stylesheet" />
@*<h2>Pagina inicial de orçamento</h2>


    <a href="~/Orcamento/Cadastrar">Cadastrar</a>
    <hr/>*@
<div class="container">
    <div class="row banner col-md-12">
        <div class="row banner-texto-esquerda col-md-6 pull-left">
            <h1>EMAIL CONFIRMADO</h1>
        </div>
        <div class="row banner-texto-direita col-md-6 pull-right">
            <h3>
                Obrigado por confirmar seu email.</p>
                Agora está na hora de agir</p>
                
            </h3>
        </div>
    </div>
    <div class="row banner-baixo col-md-12 center-block">
        <div class="row texto-bannerbaixo col-md-12">
            Você é um profissional e <b>busca novos clientes?</b>
            @*<button type="button" class="btn">Cadastre-se</button>*@
            <a href="~/Prestador/Create" type="button" class="btn btn-solicitar">Cadastre-se</a>
        </div>
    </div>
    <div class="texto-body col-md-12">
        <h2><b>Email confirmado com sucesso!</b></h2>
        <br />
        <br />
        <br />
        <p> Próximos passos:<br /><br /></p>
        <h4><b>1 - Entre na sua conta e compre os orçamentos que estiverem disponíveis a você.</b></h4>
        <h4><b>2 - Não se esqueça após concluir o serviço finalizar o seu orçamento.</b></h4>
        <h4><b>3 - Aguarde por orçamentos mais próximo a sua região</b></h4>
    </div>
    <div class="row botao-voltar col-md-12 col-sm-12 col-xs-12">
        <a href="~/Home/Index" type="button" class="btn btn-solicitar">Ok, Entendi.</a>
    </div>
</div>
