
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<link href="~/Content/Conta/meuperfil.css" rel="stylesheet" />

<div class="header container-fluid">

    <div class="row header col-md-12" >

        <div class="row header-foto col-md-2 col-sm-12">
            <img src="~/Images/Conta/fotoperfil.png" class="header-foto col-md-12" />
        </div>

        <div class="row header-texto col-md-3">
            <div class="header-texto-nome">
                JOÃO DA SILVA
            </div>
            
            <div class="header-texto-msg">
                Clique aqui para adicionar um foto pessoal
            </div>
            
        </div>

        <div class="botoes-header col-md-6 col-sm-12 col-xs-12">
            <a href=""><input type="button" class="btn" value="Meu Perfil" /></a>
            <a href=""><input type="button" class="btn" value="Atualizar Perfil" /></a>
            <a href=""><input type="button" class="btn" value="Buscar Trabalhadores" /></a>
        </div>


    </div>

</div>