@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@Html.Partial("_PerfilPartial")



<div class="container">

    <div class="row texto-antesform2 col-md-12">
        <div class="texto-inferior">
            Olá, João da Silva!
            </br>
            Aqui você pode editar e completar suas informações pessoais, consultar e buscar trabalhos na sua região.
        </div>
    </div>

    <div class="texto-corpo col-md-12">

        <div class="imagem-lupa col-md-3">
            <img src="~/Images/Orcamento/lupa.png" />
        </div>
        <div class="texto-imagem col-md-9">
            <h2>Buscador de trabalhos publicados</h2>

            Veja lista completa de oportunidades de trabalho.
        </div>

        <div class="botao col-md-12">
            <button type="button" class="btn btn-formulario">Ver lista de trabalhos </button>
        </div>

    </div>


</div>
