@model GestaoDDD.Application.ViewModels.OrcamentoViewModel

@{
    Layout = null;
}

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title custom_align" id="Heading">Excluir</h4>
    </div>
    <div class="modal-body">
        <div class="alert alert-warning"><span class="glyphicon glyphicon-warning-sign"></span> Deseja realmente excluir o orçamento do Sr.  @Html.DisplayFor(model => model.orc_nome_solicitante)?</div>
    </div>
    <div class="modal-footer ">
        <input type="hidden" name="id" />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <input type="submit" value="Deletar" class="btn btn-primary" />
            <a href="~/Prestador/ListarTodos" class="btn btn-default">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        }
    </div>
</div>
