
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using GestaoDDD.Application.ViewModels;
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";

}

<link href="~/Content/Orcamento/orcamento.css" rel="stylesheet" />

@*<h2>Pagina inicial de orçamento</h2>


<a href="~/Orcamento/Cadastrar">Cadastrar</a>
<hr/>*@

<div class="container">

    <div class="row banner col-md-12">
        <div class="row banner-texto-esquerda col-md-6 pull-left">
            <h1>ORÇAMENTOS</h1>
        </div>
        <div class="row banner-texto-direita col-md-6 pull-right">
            <h3>
                Muito mais agilidade</p>
                na hora de buscar orçamentos</p>
                de forma online e gratuita
            </h3>
        </div>
    </div>
    <div class="row banner-baixo col-md-12 center-block">
        <div class="row texto-bannerbaixo col-md-12">
            Você é um profissional e <b>busca novos clientes?</b>
            <button type="button" class="btn">Cadastre-se</button>
        </div>
    </div>

    <div class="texto-body col-md-12">
        <h2><b>Solicitação Enviada!</b></h2>
        <br />
        Seu pedido de orçamento foi enviado com sucesso. <br />
        Iremos encontrar os melhores profissionais da sua região e logo eles entrarão em contato. <br />
        <br />
        <br />
        Próximos passos:<br /><br />
        <h4><b>1 - Aguarde o contato dos profissionais selecionados e seus respectivos orçamentos.</b></h4> 
        <h4><b>2 - Compare e escolha a melhor opção.</b></h4>
    </div>
    <div class="row botao-voltar col-md-12 col-sm-12 col-xs-12">
        <a href="~/Home/Index" type="button" class="btn btn-solicitar">Ok, Entendi.</a>
    </div>

</div>
