.row {
    text-align: center;
    vertical-align: central;
    width: 100%;
}

*{
	margin: 0; padding: 0;  
}



footer.footer {
    position: absolute;
    width: 100%;
}

/* Botao */

.btn1 {
    text-align: center;
}

.botao {
    padding: 10px;
    background-color: #913034;
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;
    position: relative;
    border-color: none;
    border: none;
}

.botao:hover {
    background-color: #000000;
}

/* Fim Botao*/



.links a {

    color: black; 
}



.links a:hover {
   color: #913034;
   text-decoration: none;
}

footer.footer {
    position: absolute;
}


.form-group1 {
    text-align: right;
}

@media screen and (max-width: 990px) {
    .form-group {
        text-align: center;
    }
}

@media screen and (max-width: 500px){
	
    .form-group {
            text-align: center;
    }
}