
body {
    overflow-x: hidden;
    text-align: center;
}




/* Botao */

.btn1 {
    text-align: center;
}

.botao {
    padding: 10px;
    background-color: #913034;
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;
    position: relative;
    border-color: none;
    border: none;
}

.botao:hover {
    background-color: #000000;
}

/* Fim Botao*/

.login {
    margin-top: 4%;
    margin-bottom: 10%;
}

.links a {

    color: black; 
}



.links a:hover {
   color: #913034;
   text-decoration: none;
}


.form-group1 {
    text-align: right;
}

@media screen and (max-width: 990px) {
    .form-group {
        text-align: center;
    }
}

@media screen and (max-width: 500px){
	
    .form-group {
            text-align: center;
    }
}