


.center { 
    text-align: center;
}

.form-group {
    text-align: right;
}

h2, h4 {
    text-align: center;
}

/* botao */

.btn1 {
    text-align: center;
}

.botao {
    padding: 10px;
    background-color: #913034;
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;
    position: relative;
    border-color: none;
    border: none;
}

.register {
    margin-top: 2%;
    margin-bottom: 10%;
}


.botao:hover {
    background-color: #000000;
}

/* Fim Botao */

.links a {

    color: black; 
}

.links a:hover {
   color: #913034;
   text-decoration: none;
}


@media screen and (max-width: 990px) {
    .form-group {
        text-align: center;
    }
}

@media screen and (max-width: 500px){
	
    .form-group {
            text-align: center;
    }
}


