
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<link href="~/Content/Contato/contato.css" rel="stylesheet" />

<div class="container">

    <div class="row banner col-md-12">
        <div class="row banner-texto-esquerda col-md-6 pull-left">
            <h1>TERMOS DE USO</h1>
        </div>
        <div class="row banner-texto-direita col-md-6 pull-right">

        </div>
    </div>
    <div class="row banner-baixo col-md-12 center-block">
        <div class="row texto-bannerbaixo col-md-12">
            Você é um profissional e <b>busca novos clientes?</b>
            <a href="~/Prestador/Cadastrar"><input type="button" class="btn" value="Cadastre-se" /></a>
        </div>
    </div>

    <div class="row texto-contato col-md-12">
        <h2><b>Termos de Uso</b></h2>
        <br />
        <p />
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus accumsan ut lectus in ornare. Ut quis dolor consectetur, laoreet nisi lobortis, egestas purus. Sed sollicitudin gravida fermentum. Phasellus condimentum augue lacus, id tempus lectus gravida vel. Nulla consectetur interdum massa in viverra. Duis a mauris vitae nibh vehicula placerat. Nam dignissim vel mi vel varius.
        <p />
        Nunc nec faucibus tellus, maximus pretium eros. Sed auctor tempus dolor, quis commodo magna tristique in. Donec pretium consequat purus, posuere varius est hendrerit ac. Suspendisse id elit neque. Aenean faucibus nisi sit amet consequat volutpat. Sed eget consequat risus. Phasellus iaculis rutrum placerat. Aliquam erat volutpat. Praesent sit amet dignissim lacus. Aenean nec dolor ac nunc volutpat mollis. Suspendisse ut nisi sollicitudin, pharetra sapien feugiat, blandit odio. Sed auctor tellus erat, at malesuada mauris aliquet non.
        <p />
        Praesent quis viverra quam. Sed nec scelerisque elit. Vivamus mattis interdum consequat. Morbi hendrerit sem vitae ex facilisis cursus. Curabitur dui libero, consequat elementum ornare et, efficitur eget sapien. Donec gravida justo nulla, ut egestas diam varius sit amet. Nunc vitae lobortis metus, in auctor lectus. Donec auctor tellus eu dolor porta imperdiet. Sed non tellus quis urna fringilla mollis. Aenean tempor odio quis diam ultricies, in congue magna viverra. Nulla facilisi. Cras venenatis orci quam, sit amet pretium nisi facilisis a. Aliquam eu velit a quam condimentum ultricies. Etiam et egestas ante. Integer condimentum ex vitae blandit suscipit. Sed vitae elit non dui gravida pharetra.
        <p />
        Nunc nec faucibus tellus, maximus pretium eros. Sed auctor tempus dolor, quis commodo magna tristique in. Donec pretium consequat purus, posuere varius est hendrerit ac. Suspendisse id elit neque. Aenean faucibus nisi sit amet consequat volutpat. Sed eget consequat risus. Phasellus iaculis rutrum placerat. Aliquam erat volutpat. Praesent sit amet dignissim lacus. Aenean nec dolor ac nunc volutpat mollis. Suspendisse ut nisi sollicitudin, pharetra sapien feugiat, blandit odio. Sed auctor tellus erat, at malesuada mauris aliquet non.
        <p />
        Nunc nec faucibus tellus, maximus pretium eros. Sed auctor tempus dolor, quis commodo magna tristique in. Donec pretium consequat purus, posuere varius est hendrerit ac. Suspendisse id elit neque. Aenean faucibus nisi sit amet consequat volutpat. Sed eget consequat risus. Phasellus iaculis rutrum placerat. Aliquam erat volutpat. Praesent sit amet dignissim lacus. Aenean nec dolor ac nunc volutpat mollis. Suspendisse ut nisi sollicitudin, pharetra sapien feugiat, blandit odio. Sed auctor tellus erat, at malesuada mauris aliquet non.
    </div>

</div>
