@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<script src="~/Scripts/Adicionais/TermoUso.js"></script>
<link href="~/Content/Contato/contato.css" rel="stylesheet" />
<link href="~/Content/TermoUso.css" rel="stylesheet" />



<div class="container">



    <div class="row banner col-md-12">
        <div class="row banner-texto-esquerda col-md-6 pull-left">
            <h1>TERMOS DE USO</h1>
        </div>
        <div class="row banner-texto-direita col-md-6 pull-right">
        </div>
    </div>
    <div class="row banner-baixo col-md-12 center-block">
        <div class="row texto-bannerbaixo col-md-12">
            Você é um profissional e <b>busca novos clientes?</b>
            <a href="~/Prestador/Create"><input type="button" class="btn" value="Cadastre-se" /></a>
        </div>
    </div>

    <div class="row">
        <div class="row texto-contato col-md-12">
            <h2><b>Termos de Uso</b></h2>
            <br />
            <p />
            <div class="term-text">
                <h3><b>Informações Gerais</b></h3>
                <p />
                Quaisquer pessoa física, maior e capaz, ou jurídica, válida e legal, doravante denominada USUÁRIO, que pretenda utilizar os serviços prestados por profissionais autônomos, cadastrados neste site, que receberão a denominação de PRESTADORES DE SERVIÇOS, deverá aceitar os termos do presente instrumento, como também, os princípios e as políticas que o regem.
                O PRESTADOR DE SERVIÇOS que utiliza o espaço do site www.agilizaorcamentos.com.br, oferece serviços aos USUÁRIOS, fazendo-o por sua conta e riscos, sem que a AGILIZA ORÇAMENTOS seja responsável pela contratação e execução destes serviços,                     uma  vez que a AGILIZA ORÇAMENTOS apenas cede e disponibiliza o seu espaço virtual, possibilitando oportunidades de negócios, não participando, de quaisquer formas, direta ou indiretamente, nas negociações ou nas prestações dos serviços.
                A empresa AGILIZA ORÇAMENTOS disponibiliza em sua plataforma virtual as ferramentas para que o USUÁRIO e o PRESTADOR DE SERVIÇOS, negociem serviços    entre si, diretamente, sem a intervenção da mesma na negociação e na finalização do negócio, não sendo, nesta qualidade, fornecedor ou prestador do serviços gerados nesta negociação.
                A empresa AGILIZA ORÇAMENTOS não intervém em nenhum caso nas negociações levadas a cabo entre Cliente e Profissional, permanecendo à margem das mesmas em todos os momentos, tanto no que concerne à execução dos trabalhos acordados entre Cliente e Professional, como no cumprimento das obrigações do Cliente com o Profissional, eximindo expressamente, o Cliente e o Profissional, Agiliza Orçamentos de qualquer desacordo que possa surgir entre ambos.
                <p />
                Ao acessar o site o USUÁRIO poderá utilizar todos os serviços disponibilizados no site, pelo que declara ter lido e entendido todas as condições estabelecidas no presente Termo e Condições de Uso.
                <p />
            </div>
            <div class="term-text">
                <h3><b>Objetivo</b></h3>
                <p />
                A empresa AGILIZA ORÇAMENTOS tem por objetivo a viabilização de orçamentos para profissionais e empresas cadastradas com maior agilidade para contratantes que buscam serviços on line, permitindo aos Contratantes a utilização do site para livremente e sem interferência buscarem orçamentos de Anunciantes;
                <p />
                A empresa AGILIZA ORÇAMENTOS oferece e hospeda espaços no seu site para que os Anunciantes divulguem seus serviços;
                <p />
                A empresa AGILIZA ORÇAMENTOS promove o contato direto entre Anunciantes e Contratantes interessados em adquirir os Serviços, por meio da divulgação das informações de contato de uma parte à outra.
                <p />
            </div>
            <div class="term-text">
                <h3><b>Da Responsabilidade e Da Garantia</b></h3>
                <p />
                Na qualidade de apenas Classificador de Serviços, a Agiliza Orçamentos não participa ou interfere em qualquer negociação sobre condição, valor, qualidade, forma ou prazo na contratação entre as Contratantes e Anunciantes, não sendo responsável pelas garantia, qualidade ou entrega dos serviços contratados entre os Usuários e Contratantes.
                <p />
            </div>
            <div class="term-text">
                <h3><b>Capacidade para Cadastramento</b></h3>
                <p />
                Podem se cadastrar os usuários pessoas físicas, maiores e capazes e/ou as jurídicas, válidas e legais, sendo certo que a empresa AGILIZA ORÇAMENTOS se reserva o direito de excluir e cancelar os dados de Usuários que, sendo solicitados, não comprovarem à empresa AGILIZA ORÇAMENTOS suas condições e legalidades.
                <p />
            </div>
            <div class="term-text">
                <h3><b>Cadastro para Orçamentos</b></h3>
                <p />
                Para receber os orçamentos pertinentes à solicitação de prestação de serviços deverá o USUÁRIO preencher um cadastro de solicitação de orçamento, via e-mail válido, cuja validade fica condicionada à expressa aceitação das condições previstas no presente Termo e Condições Gerais de Uso
                <p />
            </div>
            <div class="term-text">
                <h3><b>Informações Contidas no Site</b></h3>
                <p />
                Será de responsabilidade do USUÁRIO toda e qualquer informação inseridas no cadastro deste site, pela sua veracidade, exatidão e autenticidade.
                A empresa AGILIZA ORÇAMENTOS não se responsabiliza pelas informações fornecidas pelos PRESTADORES DE SERVIÇOS que estarão anotadas na ferramenta AGILIZA ORÇAMENTOS, esta que apenas disponibiliza o espaço para que estes possam oferecer seus serviços aos USUÁRIOS interessados em contratar os específicos serviços prestados por estes.
                <p />
            </div>
            <div class="term-text">
                <h3><b>Privacidade das Informações</b></h3>
                <p />
                Todas as informações e/ou dados pessoais fornecidos pelo USUÁRIO serão feitas em ambiente seguro, sendo que este autoriza, expressamente, o compartilhamento destes dados e informações para aqueles prestadores de serviços homologados que disponibilizam seus serviços pertinentes à solicitação descrita no orçamento solicitado, não configurando, neste caso, invasão de privacidade ou divulgação de informação confidencial.
                <p />
            </div>
            <div class="term-text">
                <h3><b>Da Responsabilidade e Da Garantia</b></h3>
                <p />
                Na condição de apenas Classificadora de Serviços, a empresa Agiliza Orçamentos             não impõe ou interfere em qualquer negociação sobre condição, valor, qualidade,   forma ou prazo na contratação entre as Contratantes e Anunciantes, não sendo responsável pelas garantia, qualidade ou entrega dos serviços contratados entre os Usuários e Contratantes.
                <p />
                Assim, a empresa AGILIZA ORÇAMENTOS não se responsabiliza pelas transações realizadas entre USUÁRIOS e PRESTADORES DE SERVIÇOS e nem garante o êxito da negociação realizada entre eles, uma vez que não possui controle ou responsabilidade sobre os serviços que serão prestados.
                <p />
            </div>
            <div class="term-text">
                <h3><b>Da Responsabilidade pela Contratação de Prestadores de Serviços</b></h3>
                <p />
                O USUÁRIO reconhece que a empresa AGILIZA ORÇAMENTOS apenas mantém uma plataforma virtual disponibilizada para busca de prestadores de serviços e seus orçamentos, cabendo ao USUÁRIO a negociação dos serviços solicitados com os referidos prestadores.
                Desta forma a empresa AGILIZA ORÇAMENTOS não será responsável pelos negócios efetivados entre USUÁRIOS E PRESTADORES DE SERVIÇOS. Os contratos firmados são de exclusivas responsabilidades dos envolvidos, sem qualquer participação da empresa AGILIZA ORÇAMENTOS na contratação, na negociação e/ou na prestação dos serviços.
                O USUÁRIO está ciente de que a AGILIZA ORÇAMENTOS não será responsabilizada ou sujeitar-se a quaisquer perdas ou danos incorridos em face da contratação dos serviços pactuados entre ele e o Prestador dos Serviços e, em caso de litígio entre USUÁRIO E PRESTADOR DE SERVIÇO, a empresa AGILIZA ORÇAMENTOS não será, de qualquer forma, envolvida, denunciada ou responsabilizada.
                A contratação de PRESTADORES DE SERVIÇOS não gera para a AGILIZA ORÇAMENTOS qualquer vínculo empregatício, ou obrigações fiscais ou de consumo.
                <p />
            </div>
            <div class="term-text">
                <h3><b>Da liberdade de escolha nas contratações</b></h3>
                <p />
                Os USUÁRIOS acessarão o site da AGILIZA ORÇAMENTOS em busca de prestação de serviços através da solicitação de orçamentos, o qual será disponibilizado aos PRESTADORES DE SERVIÇOS para que estes realizem os orçamentos, sendo livre a escolha de um destes profissionais, devendo as tratativas, execuções e acertos dos serviços serem realizadas entre USUÁRIOS E PRESTADORES DE SERVIÇOS.
                Ao manifestar o interesse em obter orçamentos dos prestadores de serviços homologados, o USUÁRIO obriga-se a atender às condições estabelecidas no presente TERMOS E CONDIÇÕES GERAIS DE USO DO SITE.
                A aceitação destes termos e condições gerais é indispensável e imprescindível à utilização da ferramenta Agiliza Orçamentos.
                <p />
            </div>
            <div class="term-text">
                <h3><b>Politica de Privacidade e Divulgação de Informações</b></h3>
                <p />
                As informações fornecidas no site da AGILIZA ORÇAMENTOS serão mantidas em uma base de dados que atenda aos padrões de segurança usados atualmente, sendo que estas informações ficarão armazenadas por um período necessário ou até que se finde o atendimento pelo Prestador de Serviço.
                <p />
            </div>
            <div class="term-text">
                <h3><b>Legislações Aplicáveis e Foro de Eleição</b></h3>
                <p />
                Todos os itens deste TERMO E CONDIÇÕES GERAIS E USO são regidos pelas leis vigentes no Brasil. As partes elegem o Foro da Comarca de Anápolis/Go, como sendo o único e competente para dirimir quaisquer litígios e/ou demandas que venham a envolver as partes em relação ao uso e acesso ao site.
                <p />
                Estes TERMOS E CONDIÇÕES poderão sofrer alterações periódicas, visando aprimoramento e melhoria dos serviços prestados ou por estratégias da AGILIZA ORÇAMENTOS.
            </div>
        </div>
    </div>
</div>
