
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<script src="~/Scripts/Adicionais/administrativo.js"></script>
<link href="~/Content/Admin/admin.css" rel="stylesheet" />

<div class="navbar-more-overlay"></div>
<nav class="navbar navbar-inverse navbar-fixed-top animate">
    <div class="container navbar-more visible-xs">
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Submit</button>
                    </span>
                </div>
            </div>
        </form>
        <ul class="nav navbar-nav">
            <li>
                <a href="#">
                    <span class="menu-icon fa fa-picture-o"></span>
                    Photos
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="menu-icon fa fa-bell-o"></span>
                    Reservations
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="menu-icon fa fa-picture-o"></span>
                    Photos
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="menu-icon fa fa-bell-o"></span>
                    Reservations
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="menu-icon fa fa-picture-o"></span>
                    Photos
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="menu-icon fa fa-bell-o"></span>
                    Reservations
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="menu-icon fa fa-picture-o"></span>
                    Photos
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="menu-icon fa fa-bell-o"></span>
                    Reservations
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="menu-icon fa fa-picture-o"></span>
                    Photos
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="menu-icon fa fa-bell-o"></span>
                    Reservations
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="menu-icon fa fa-picture-o"></span>
                    Photos
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="menu-icon fa fa-bell-o"></span>
                    Reservations
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="menu-icon fa fa-picture-o"></span>
                    Photos
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="menu-icon fa fa-bell-o"></span>
                    Reservations
                </a>
            </li>
        </ul>
    </div>
    <div class="container">
        <div class="navbar-header hidden-xs">
            <a class="navbar-brand" href="#">Brand</a>
        </div>

        <ul class="nav navbar-nav navbar-right mobile-bar">
            <li>
                <a href="#">
                    <span class="menu-icon fa fa-home"></span>
                    Home
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="menu-icon fa fa-info"></span>
                    <span class="hidden-xs">About the Boat</span>
                    <span class="visible-xs">About</span>
                </a>
            </li>
            <li class="hidden-xs">
                <a href="#">
                    <span class="menu-icon fa fa-picture-o"></span>
                    Photos
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="menu-icon fa fa-ship"></span>
                    Cruises
                </a>
            </li>
            <li class="hidden-xs">
                <a href="#">
                    <span class="menu-icon fa fa-bell-o"></span>
                    Reservations
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="menu-icon fa fa-phone"></span>
                    <span class="hidden-xs">Contact Us</span>
                    <span class="visible-xs">Contact</span>
                </a>
            </li>
            <li class="visible-xs">
                <a href="#navbar-more-show">
                    <span class="menu-icon fa fa-bars"></span>
                    More
                </a>
            </li>
        </ul>
    </div>
</nav>
