
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<link href="~/Content/Home/index.css" rel="stylesheet" />



<div class="container">
    <div class="row banner col-md-12">
        <div class="row banner-texto col-md-6">
            <h1>RECEBA ATÉ 4 ORÇAMENTOS DE PROFISSIONAIS DA SUA CIDADE</h1>
            <p></p>
            <hr />
            <h4>Pintores, construtores, reformas, reparos, instalações e muito mais.</h4>
            <a href="~/Orcamento/Cadastrar"><input type="button" class="btn" value="Solicitar orçamentos grátis" /></a>
        </div>
        <div class="row banner-man col-md-6 pull-right">
            <img src="~/Images/Home/man2.png" class="img-responsive" />
        </div>
    </div>
    <div class="row banner-baixo col-md-12 center-block">
        <div class="row texto-bannerbaixo col-md-12">
            Você é um profissional e <b>busca novos clientes?</b>
            <a href="~/Prestador/Cadastrar"><input type="button" class="btn" value="Cadastre-se" /></a>
        </div>
    </div>
    <div class="profissionais col-md-12">
        <div id="texto-profissionais">
            Aqui você encontra profissionais de diversas áreas
        </div>
        <div class="profissionais-1 col-md-12 text-center">
            <div class="row col-md-2 col-sm-3 col-xs-4 bloco">
                <img src="~/Images/Home/Profissionais/printores.png" />
                <p>Pintores</p>
            </div>
            <div class="row col-md-2 col-sm-3 col-xs-4 bloco">
                <img src="~/Images/Home/Profissionais/pedreiro.png" />
                 <p>Pedreiros</p>
            </div>
            <div class="row col-md-2 col-sm-3 col-xs-4 bloco">
                <img src="~/Images/Home/Profissionais/gesso.png" />
                <p>Gesso</p>
            </div>
            <div class="row col-md-2 col-sm-3 col-xs-4 bloco">
                <img src="~/Images/Home/Profissionais/ar-condicionado.png" />
                <p>Ar Condicionado</p>
            </div>
            <div class="row col-md-2 col-sm-3 col-xs-4 bloco">
                <img src="~/Images/Home/Profissionais/marcineiro.png" />
                <p>Marceneiros</p>
            </div>
            
        </div>

        <div class="profissionais-1 col-md-12 text-center">
            <div class="row col-md-2 col-sm-3 col-xs-4 bloco">
                <img src="~/Images/Home/Profissionais/arquiteto.png" />
                <p>Arquitetos</p>
            </div>
            <div class="row col-md-2 col-sm-3 col-xs-4 bloco">
                <img src="~/Images/Home/Profissionais/engenheiro.png" />
                <p>Engenheiros</p>
            </div>
            <div class="row col-md-2 col-sm-3 col-xs-4 bloco">
                <img src="~/Images/Home/Profissionais/reforma.png" />
                <p>Reformas</p>
            </div>
            <div class="row col-md-2 col-sm-3 col-xs-4 bloco">
                <img src="~/Images/Home/Profissionais/reparos.png" />
                <p>Reparos</p>
            </div>
            <div class="row col-md-2 col-sm-3 col-xs-4 bloco">
                <img src="~/Images/Home/Profissionais/jardinagem.png" />
                <p>Jardineiros</p>
            </div>       
        </div>
        <div class="row col-md-12 col-sm-12 col-xs-12">
            <button type="button"  class="btn btn-encontrar-prof">Encontrar Profissionais para o Serviço</button>
        </div>    
    </div>

    <div class="indique-amigo col-md-12 col-sm-12 col-xs-12">
        <div class="indique-img col-md-5 pull-left">
            <img src="~/Images/Home/man3.png" />
        </div>
        <div class="row indique-texto col-md-7 col-xs-12 pull-right">
            <img src="~/Images/Home/icone.png" />
            <div id="text-1">
                </p>Você conhece um bom profissional </br>
                <b>e gostaria de indicá-lo?</b>
            </div>
            <div id="text-2">
                </p>
                Estamos selecionando e cadastrando <br />
                as melhores empresas e profissionais do país.
            </div>
            <div>
                <a href="~/IndiqueProfissional/Create" type="button" class="btn btn-solicitar">Indicar um profissional ou empresa</a>
            </div>

        </div>
    </div>
   
    
</div>

