

@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-collapse nav navbar-right navbar-nav" id="navibar">
            <li>
                @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Sair</a></li>
    </ul>


    }
}
else
{
    <ul class="nav navbar-nav navbar-right" id="navibar">
        
        <li>@Html.ActionLink("Criar Conta", "Create", "Prestador", routeValues: null, htmlAttributes: new { id = "registerLink"} )</li>
        <li>@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink"})</li>
    </ul>
     

}



    @*<div class="collapse navbar-collapse" id="mynavbar">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">home</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">page 1 <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">page 1-1</a></li>
                    <li><a href="#">page 1-2</a></li>
                    <li><a href="#">page 1-3</a></li>
                </ul>
            </li>
            <li><a href="#">page 2</a></li>
            <li><a href="#">page 3</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> sign up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> login</a></li>
        </ul>
    </div>
</div>*@