
@{
    ViewBag.Title = "ErroAoCadastrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Erro Ao Cadastrar</h2>

<div class="alert alert-danger" role="alert">Erro ao cadastrar categoria, entre em contato com o Administrador</div>
