@model IEnumerable<GestaoDDD.Application.ViewModels.CategoriaViewModel>

@{
    var msg = ViewBag.Retorno as string;
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }


    <script src="~/Scripts/Adicionais/ListaPrestadorAdmin.js"></script>
    @*---*@


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>

    <div class="container">
        <div class="row">
            

            <div class="col-md-12">
                <h2>Lista de prestadores</h2>
                <div class="container" style="position:relative; left: 40%; color: #dc143c">
                    <strong>@msg</strong>
                </div>

                <div class="container">
                    <p>
                        <strong>Nova Categoria:</strong>
                        <a href="~/Categoria/Cadastrar/" class="btn btn-primary btn-xs" title="Add categoria">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </p>

                </div>

                <div class="table-responsive">
                    <table id="mytable" class="table table-bordred table-striped">

                        <thead>

                        <th>Nome</th>

                        <th>Editar</th>
                        <th>Excluir</th>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.cat_Nome)
                                    </td>

                                    <td>
                                        <p data-placement="top" data-toggle="tooltip" title="Edit">
                                            <a href="~/Categoria/Editar/@item.cat_Id" class="btn btn-primary btn-xs" title="Editar">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </a>
                                        </p>
                                    </td>
                                    <td>
                                        <a class="btn btn-danger btn-xs" href="~/Categoria/Deletar/@item.cat_Id" data-toggle="modal" data-target="#delete" data-placement="top" rel="tooltip" data-title="Excluir">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </a>
                                    </td>
                                </tr>
                                //MODAL DELETE
                               <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-hidden="false">
                                    <div class="modal-dialog">
                                        <div class="modal-content">

                                        </div>
                                    </div>
                                </div>
                                //FIM MODAL DELETE
                            }

                        </tbody>

                    </table>

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
