



.banner {
    background-image: url(../../Images/Home/banner.png);  
    background-size: cover;
    background-position: center;
    margin: 0px;
    padding: 0px;
}



.banner-man img{

   margin-left: 2%;
   
}

.banner-texto {
    vertical-align: central;
    margin-top: 10%;
    font-family: Arial;
    color: white;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px black;
    margin-left: 1%;
    
}

.btn {
    background-color: #ad2323;
    margin: 20px;
    border-bottom-color: black;
    
    
}

.cadastrar {
    background-color: #ad2323;
    border-bottom-color: black;
    
}

.banner-baixo {
    background-color: #f56a6a;
    color: white;
    text-align: center;
    margin: 0px;
}

.texto-bannerbaixo {
    text-align: right;
    vertical-align: center;
    margin-top: 15px;
}

