@model GestaoDDD.Application.ViewModels.PrestadorViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<title>Agiliza Orçamentos</title>

<link href="~/Content/Prestador/pagina_captura.css" rel="stylesheet" />
<!-- BCL ONE -->
@*<div class="navbar  bcl-one">
        <div class="container">
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>*@
<section class="bcl-one">
    <div class="center">
        <p>em breve você terá <br> muito mais agilidade na hora de <br> <b>buscar orçamentos de forma gratuita e sem compromisso.</b></p>
    </div>
</section>
<!-- FIM BCL ONE -->
<!-- BCL TWO -->
<section class="bcl-two">
    <div class="center">
        <section class="col-50">
            <div class="infos-form" id="texto-center">
                <h1>você é um profissional e busca novos clientes?</h1>
                <p>faça seu cadastro gratuitamente</p>
                <form action="" method="post" class="frm-contato">
                    <input required="required" placeholder="Nome" id="pres_nome" name="pres_nome" type="text">
                    <input type="text" placeholder="CPF/CNPJ" required="required" id="pres_cpf_cnpj" name="pres_cpf_cnpj">
                    <input type="email" placeholder="E-mail" required="required" id="pres_email" name="pres_email">
                    <input type="text" placeholder="Celular" required="required" id="pres_telefone_celular" name="pres_telefone_celular">
                    <input type="submit" class="btn btn-group-lg" value="AVANÇAR">
                </form>
            </div>
        </section>
        <section class="col-50">
            <img src="~/Images/Prestador/man.png" alt="" />
        </section>
    </div>
</section>
<!-- FIM BCL TWO -->
