@model GestaoDDD.Application.ViewModels.PrestadorViewModel

@{
    Layout = null;
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


@*html*@

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <!-- META RESPONSIVA -->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- CSS -->
    
    <title>Agiliza Orçamentos</title>
</head>
<body>
    <link href="~/Content/Prestador/pagina_captura.css" rel="stylesheet" />
    <!-- BCL ONE -->
    <section class="bcl-one">
        <div class="center">
            <p>em breve você terá <br> muito mais agilidade na hora de <br> <b>buscar orçamentos de forma gratuita e sem compromisso.</b></p>
        </div>
    </section>
    <!-- FIM BCL ONE -->
    <!-- BCL TWO -->
    <section class="bcl-two">
        <div class="center">
            <section class="col-50">
                <div class="infos-form">
                    <h1>você é um profissional e busca novos clientes?</h1>
                    <p>faça seu cadastro gratuitamente</p>

                    <form action="" method="post" class="frm-contato">
                        <input required="required" placeholder="Nome" id="pres_nome" name="pres_nome" type="text">
                        <input type="text" placeholder="CPF/CNPJ" required="required" id="pres_cpf_cnpj" name="pres_cpf_cnpj">
                        <input type="email" placeholder="E-mail" required="required" id="pres_email" name="pres_email">
                        <input type="text" placeholder="Celular" required="required" id="pres_telefone_celular" name="pres_telefone_celular">
                        <input type="submit" value=">> AVANÇAR">
                    </form>
                </div>
            </section>
            <section class="col-50">
                <img src="~/Images/Prestador/man.png" alt="" />
            </section>
        </div>
    </section>
    <!-- FIM BCL TWO -->
    <footer class="footer">
        <div class="center">
            <p><small><b>agiliza orçamentos</b> | <a href="mailto:contato@agilizapracamentos.com.br">contato@agilizapracamentos.com.br</a></small></p>
        </div>
    </footer>
</body>
</html>
