@model IEnumerable<GestaoDDD.Application.ViewModels.ServicoViewModel>
    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-lg-2"><h3>Serviços</h3></div>
                <div class="col-lg-8">
                    <form class="navbar-form navbar-left" role="search">
                        @using (Html.BeginForm("Index", "Servicos"))
                        {
                            <div class="form-group">
                                Busca por Nome : <input type="text" name="nomeBusca" id="nomeBusca" class="form-control" placeholder="E-mail">
                            </div>
                            <button type="submit" class="btn btn-success">Buscar</button>
                        }
                    </form>
                </div>
                <div class="col-lg-offset-10">
                    <a href="~/Servico/Cadastrar" class="btn btn-info" title="Nova Serviço">Novo Serviço <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
                </div>
            </div>
        </div>
        <div class="row apenasNegrito">
            <div class="col-lg-4 col-md-3 col-sm-4 col-xs-6">
                @Html.DisplayNameFor(model => model.serv_Nome)
            </div>
            <div class="col-lg-5 col-md-3 col-sm-4 col-xs-6">
                @Html.DisplayNameFor(model => model.cat_Id)
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
            </div>
        </div>

            @foreach (var item in Model)
            {

                <div class="col-lg-4 col-md-3 col-sm-4 col-xs-6">
                    @Html.DisplayFor(modelItem => item.serv_Nome)
                </div>
                <div class="col-lg-5 col-md-3 col-sm-4 col-xs-6">
                    @Html.DisplayFor(modelItem => item.Categoria.cat_Nome)
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <a href="~/Servico/Editar/@item.serv_Id" class="btn btn-primary" title="Editar"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                    <a href="~/Servico/Detalhes/@item.serv_Id" class="btn btn-primary" title="Detalhes"><i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i></a>
                    <a href="~/Servico/Deletar/@item.serv_Id" class="btn btn-primary" title="Deletar"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                </div>
                <hr/>
            }
        </div>
  
