@{
    ViewBag.Title = "ServicosCadastrados";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<div class="container" id="position-text">
    <div class="col-md-12" style="margin-top: 15px">
        <div class="alert alert-danger" role="alert">
            <h3>Serviços cadastrados com sucesso.</h3>
          </div>
        <div class="alert alert-success" role="alert">
           <h4>Efetue <a href="/Home/Index">login</a> para utilizar os recursos do site.</h4>
        </div>
    </div>
</div>