body {
    overflow-x: hidden;
}



.map-mapa {
    bottom:30px;
    height: 350px; 
    width: 600px
}
    .btn-marcamapa:focus {
        box-shadow: rgba(0,0,0,4);
        outline: 0;
    }


/* Banner Padrão e Secundário */

.banner {
    background-image: url(../../Images/Home/banner.png);
    background-size: cover;
    background-position: center;
    margin: 0px;
}


.banner-texto-esquerda {
    vertical-align: central;
    margin-top: 8%;
    font-family: Arial;
    color: white;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px black;
    margin-left: 1%;
    margin-bottom: 8%;
}

.banner-texto-direita {
    vertical-align: central;
    font-family: Arial;
    color: white;
    text-align: right;
    text-shadow: 2px 2px black;
    margin-top: 5%;
    margin-bottom: 5%;
}

.btn {
    background-color: #ad2323;
    margin: 20px;
    border-bottom-color: black;
}

    .btn:focus {
        box-shadow: rgba (0,0,0,4);
        outline: 0;
    }

.banner-baixo {
    background-color: #f56a6a;
    color: white;
    text-align: center;
}

.texto-bannerbaixo {
    vertical-align: center;
    margin-top: 10px;
    font-size: 18px;
}

/* Fim Banner Padrão e Secundário */

/* Corpo da página */

.texto-formulario {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.formulario {
    background-color: #EEE9E9;
    border-radius: 10px;
    margin-bottom: 4%;
    padding: 2%;
    margin-left: 0px;
    
}

.col-form {
    padding-left: 0px;
    padding-right: 1%;
    margin-right: 0%;
}

.col-form-2 {
    padding-left: 0px;
    padding-right: 0px;
    
}

.botao-marcar {
    padding: 0px;

}

.mapa {
    padding: 0px;
}

.map-mapa {
    margin-top: 3%;
    padding-left: 0px;
    height: 350px; 
    width: 1090px;
}

.botao {
   color: white;
}


.btn-enviar {
    background-color: #ad2323;
    margin: 20px;
    margin-left: 0px;
    border-bottom-color: black;
    color: white;
}

    .btn-enviar:focus {
        box-shadow: rgba(0,0,0,4);
        outline: 0;
    }

/* Fim Corpo da página */


@media screen and (max-width: 1200px){
	.map-mapa {
        width: 900px;
	}
}

@media screen and (max-width: 990px){
	.map-mapa {
        width: 700px;
	}
    .form {
        margin-left:0px;
        padding-left: 0px;
       
    }
}